*{padding:0;margin:0;}

body {
    padding: 0;
    margin: 0;
}
html, body, #mymap {
    height: 100vh;
    width: 100vw;
}

#mapid { 
    height: 100vh; width:100vw;
    z-index: 0;
}

.container{
    display: flex;
    height: 100vh;
}
.side{
    position: fixed;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
    top: 0;
    width: 200px;
    z-index: 10;
    background: linear-gradient(to right,  rgba(255,255,255,1), rgba(136, 118, 118, 0), rgba(255,255,255,1));
    border-radius:5px;
    border: solid 1px #fff;
}

h1 {
    color: rgb(86, 86, 88);
    font-size: 14px;
}
.catastro {
    color: rgb(33, 33, 34);
}

.listado{
    margin-top: 20px;
}

.list-btn{
    margin-top: 25px;
}

.logoChec img{
    position:fixed;
    width: 70px;
	height:60px;
	bottom:40px;
	right: 25px;
}

.listado-btn{
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 200px;
	height:60px;
	top:-15px;
	left: 60px;
}

.selector-psv1{
    position:fixed;
    width: 100px;
	height:60px;
	top:10px;
	left: 275px;
}

.autor{
    position:fixed;
	bottom:10px;
	right: 15px;
}

h5 {
    font-size: 14px;
}


.float{
	position:fixed;
	width:30px;
	height:30px;
	bottom:40px;
	left:40px;
	background-color:rgb(10, 18, 128);
    border: solid 2px #fff;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top: -24px;
}

.kc_fab_main_btn {
    position:fixed;
    background-color: #F44336;
    width: 40px;
    height: 40px;
    bottom:30px;
	left:15px;
    border-radius: 100%;
    background: #353438;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  